# Python Bytecode
*.pyc
__pycache__/

# Virtuelle Umgebung
.venv/

# Log-Dateien
*.log

# Ausschließen spezifischer Verzeichnisse und Dateien
fine-tuned_model/data/
fine-tuned_model/results/
fine-tuned_model/t5_base/
streamlit_models/
test data/test-urls.txt
test-urls.txt

pre-trained_model/bart_model/

# MacOS spezifische Datei
.DS_Store
