# Python Bytecode
*.pyc
__pycache__/

# Virtuelle Umgebung
.venv/

# Log-Dateien
*.log

# Ausschließen spezifischer Verzeichnisse und Dateien
fine-tuned_model/data/
fine-tuned_model/results/
fine-tuned_model/t5_base/

streamlit_models/

pre-trained_model/bart_model/

Test Data/Test-PDFs

# MacOS spezifische Datei
.DS_Store
